/*
	Comment
*/

a { /* Comment */ color: /* Comment */ Red; }

.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
}

p {color: green;}

h1 {color: darkblue;}

.picLayout {
	margin-top: 10px;
	width: 1000px;
	height: 600px;
	border-radius: 50%;
	border: 3px solid green;
	transition: all .5s;
	
}

.picLayout:hover {
	transform: scale(.25) rotate(360deg);	
}


