/*
	CSS Style sheet for First Web Site
*/
body {
	background-color: darkseagreen;
	}
header {
	color: Darkgreen;
	text-align: center;
	font-size: 20px;
	border-style: solid;
	border-color: green;
	background-color: yellow;
	}

.index {
	color: green;
	}
hr {
	display: block;
	border-style: inset;
	border-width: 12px;
	}
.index2 {
	display: inline-block;
	padding: 10px;
	margin: 25px;
	margin-left: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: green;
	background-color: yellow;
	}	
.index3 {
	color: darkgreen;
	text-decoration: none;
	}
.index4 {
	color: green;
	}
.index5 {
	color: darkgreen;
	text-decoration: none;
	}
.index6 {
	color: green;
	display: inline-block;
	padding: 10px;
	margin: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: green;
	background-color: yellow;

	}
.index7 {
	color: darkgreen;
	font-size: 18px;
	text-align: center;
	border-style: solid;
	border-width: 5px;
	border-color: green;
	background-color: yellow;
	padding: 10px;
	box-sizing: border-box;
	width: 150px;
	height: 50px;
	}
.index8 {
	color: darkgreen;
	}
.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
	}

.picLayout {
	margin-top: 10px;
	width: 1000px;
	height: 600px;
	border-radius: 50%;
	border: 3px solid green;
	transition: all .5s;
	}

.picLayout:hover {
	transform: scale(.25) rotate(360deg);	
	}
.links {
	color: darkgreen;
	}
.links2 {
	color: darkorange;
	}
.links3 {
	color: darkgreen;
}
.about {
	color: darkorange;
	}
.about2 {
	color: darkorange;
	font-size: 14px;
	}

.drinks {
	color: darkgreen;
	}
.drinks2 {
	color: green;
	}

.food {
	color: darkgreen;
	}
.food2 {
	color: green;
	}

