/*
	CSS Style sheet for First Web Site
*/
body {
	background-color: darkseagreen;
	margin: 0;
	}
header {
	color: Darkgreen;
	text-align: center;
	font-size: 20px;
	border-style: solid;
	border-color: green;
	background-color: yellow;
	width: auto;
	margin: 5px;
	}
hr {
	display: block;
	border-style: inset;
	border-width: 12px;
	margin: 5px;
	}
.index {
	color: green;
	}
.index2 {
	display: inline-block;
	padding: 10px;
	margin: 25px;
	margin-left: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: green;
	background-color: yellow;
	}	
.index3 {
	color: darkgreen;
	text-decoration: none;
	}
.index4 {
	color: green;
	}
.index5 {
	color: darkgreen;
	text-decoration: none;
	}
.index6 {
	color: green;
	display: inline-block;
	margin: 20px;
	padding: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: green;
	background-color: yellow;
	}
.index7 {
	color: darkgreen;
	font-size: 18px;
	text-align: center;
	text-indent: 5px;
	border-style: solid;
	border-width: 5px;
	border-color: green;
	padding: 10px 10px 10px 0px;
	margin: 35px 0px 30px 60px;
	background-color: yellow;
	width: 150px;
	}
.index8 {
	color: darkgreen;
	padding: 20px;
	margin-left: 45px;
	font-size: 20px;
	}
.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
	}
.picLayout {
	margin-top: 10px;
	width: 1000px;
	height: 600px;
	border: 3px solid green;
	transition: all .5s;
	}
.picLayout:hover {

	transform: scale(.90) rotate(2deg);	
	}
.links {
	color: darkgreen;
	}
.links2 {
	color: darkorange;
	}
.links3 {
	color: darkgreen;
	}
.links4 {
	color: darkgreen;
	font-size: 20px;
	}
.about {
	color: darkorange;
	}
.about2 {
	color: darkorange;
	font-size: 14px;
	}
.drinks {
	color: darkgreen;
	}
.drinks2 {
	color: green;
	}
.food {
	color: darkgreen;
	}
.food2 {
	color: green;
	}
.sizes {
	font-size: 20px;
	color: darkgreen;
	}
.sizes1 {
	color: darkgreen;
	border-style: solid;
	border-width: 5px;
	border-color: darkgreen;
	background-color: yellow;
	}
.sizes2 {
	font-size: 20px;
	}	
.about {
	color: darkgreen;
	font-size: 24px;
	font-family: sans-serif;
	}
.about2 {
	color: darkgreen;
	font-family: sans-serif;
	font-size: 18px;
	}	
.price {
	color: darkgreen;
	font-size: 24px;
	}
.price1 {
	color: darkgreen;
	font-size: 18px;
	}
.price2 {
	color: darkgreen;
	border-style: solid;
	border-width: 1px;
	background-color: yellow;
	}
.price3 {
	color: darkgreen;
	font-size: 18px;
}
footer{	
	color: Darkgreen;
	font-size: 20px;
	text-align: center;
	border-style: solid;
	border-color: green;
	background-color: yellow;
	height: 140px;
	margin: 5px;
	width: auto;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 0px;
	}

